<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Выдать книгу</title>
</head>
<body>
<h1>Выдать книгу</h1>

<form action="/issued-books/issue" method="post">
    <label for="book">Книга:</label>
    <select name="book.id">
        <option th:each="book : ${books}" th:value="${book.id}" th:text="${book.title}"></option>
    </select>

    <label for="student">Студент:</label>
    <select name="student.id">
        <option th:each="student : ${students}" th:value="${student.id}" th:text="${student.firstName} + ' ' + ${student.lastName}"></option>
    </select>

    <button type="submit">Выдать</button>
</form>
</body>
</html>
