<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/styles/index.css}"/>
    <link rel="stylesheet" th:href="@{/styles/tablePages.css}"/>
    <title>Добавляем книгу!</title>
</head>
<body>
<div class="sidebar">
    <ul>
        <li><a href="/books">Книги</a></li>
        <li><a href="/students">Ученики</a></li>
        <li><a href="/issued-books">Выданные книги</a></li>
    </ul>
</div>
<div class="content">
    <h2>Добавление книги</h2>
    <form action="/books/add" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <label for="title">Название книги:</label>
        <input type="text" id="title" name="title" placeholder="Введите название" required />

        <label for="publisher">Издательство:</label>
        <input type="text" id="publisher" name="publisher" placeholder="Введите издательство" required />

        <button type="submit">Добавить книгу</button>

        <a href="/books">Назад к списку книг</a>
    </form>
</div>
</body>
</html>