<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/styles/index.css}"/>
    <link rel="stylesheet" th:href="@{/styles/tablePages.css}"/>
    <title>Книжечки</title>
    <script>
        // Функция для фильтрации книг по названию
        function searchBooks() {
            // Получаем поисковый запрос
            let query = document.getElementById("searchInput").value.toLowerCase();

            // Получаем все строки таблицы с книгами
            let rows = document.querySelectorAll("#bookTable tbody tr");

            rows.forEach(function(row) {
                // Получаем название книги в строке
                let title = row.querySelector("td:nth-child(1)").textContent.toLowerCase();
                let publisher = row.querySelector("td:nth-child(2)").textContent.toLowerCase();

                // Если название книги содержит поисковый запрос, показываем строку, иначе скрываем
                if (title.includes(query) || publisher.includes(query)) {
                    row.style.display = ""; // Показываем строку
                } else {
                    row.style.display = "none"; // Скрываем строку
                }
            });
        }
        function countBooks() {
            let rows = document.querySelectorAll("#bookTable tbody tr");
            document.getElementById("totalBooks").textContent = rows.length;
        }
    </script>
</head>
<body onload="countBooks()">
<div class="sidebar">
    <ul>
        <li><a href="/books">Книги</a></li>
        <li><a href="/students">Ученики</a></li>
        <li><a href="/issued-books">Выданные книги</a></li>
    </ul>
</div>
<div class="content">
    <h2>Книги в БД</h2>
    <p>Всего книг: <span id="totalBooks"></span></p>
    <br/>
    <label for="searchInput"></label>
    <p>Поиск:</p>
    <input type="text" id="searchInput" placeholder="Введите название книги" onkeyup="searchBooks()">
    <br/>
    <br/>
    <a href="/books/add">Добавить книгу</a>
    <table id="bookTable">
        <thead>
        <tr>
            <th>Название книги</th>
            <th>Издательство</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tr th:each="book : ${books}">
            <td th:text="${book.title}">Название книги хахах</td> <!-- Название книги -->
            <td th:text="${book.publisher}">Название издвателства</td> <!-- Издательство -->
            <td>
                <!-- Форма с POST-запросом для удаления книги -->
                <form th:action="@{/books/delete/{id}(id=${book.id})}" method="post">
                    <button type="submit">Удалить</button>
                </form>
                <form th:action="@{/books/edit/{id}(id=${book.id})}" method="get">
                    <button type="submit">Редактировать</button>
                </form>
            </td>
        </tr>
    </table>
</div>
</body>
</html>