<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/styles/index.css}"/>
    <link rel="stylesheet" th:href="@{/styles/tablePages.css}"/>
    <title>Редачим водителя</title>
</head>
<body>
<div class="sidebar">
    <ul>
        <li><a href="/equipments">Техника</a></li>
        <li><a href="/drivers">Водители</a></li>
        <li><a href="/shipped-equipments">Выгруженная техника</a></li>
    </ul>
</div>
<div class="content">
    <h2>Изменение водителя</h2>
    <form action="/drivers/edit" th:action="@{/drivers/edit/{id}(id=${driver.id})}" method="post">
        <input type="hidden" name="id" th:value="${driver.id}" />

        <label for="name">Имя водителя:</label>
        <input type="text" id="name" name="name" th:value="${driver.name}" required />

        <label for="surname">Фамилия водителя:</label>
        <input type="text" id="surname" name="surname" th:value="${driver.surname}" required />

        <button type="submit">Сохранить изменения</button>

        <a href="/drivers">Назад к списку водителей</a>
    </form>
</div>
</body>
</html>