<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/styles/index.css}"/>
    <link rel="stylesheet" th:href="@{/styles/tablePages.css}"/>
    <title>Редачим студента</title>
</head>
<body>
<div class="sidebar">
    <ul>
        <li><a href="/books">Книги</a></li>
        <li><a href="/students">Ученики</a></li>
        <li><a href="/issued-books">Выданные книги</a></li>
    </ul>
</div>
<div class="content">
    <h2>Изменение студента</h2>
    <form action="/students/edit" th:action="@{/students/edit/{id}(id=${student.id})}" method="post">
        <input type="hidden" name="id" th:value="${student.id}" />

        <label for="name">Имя студента:</label>
        <input type="text" id="name" name="name" th:value="${student.name}" required />

        <label for="surname">Фамилия студента:</label>
        <input type="text" id="surname" name="surname" th:value="${student.surname}" required />

        <button type="submit">Сохранить изменения</button>

        <a href="/students">Назад к списку студентов</a>
    </form>
</div>
</body>
</html>